{% extends "layout.html.twig" %}

{% block title 'Paiement' %}
    
{% block content %}
    <form action="{{ path('basket_charge') }}" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
            data-amount="999"
            data-name="Custom-shirt.com"
            data-description="Chemise sur-mesure"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-currency='EUR'
            data-label='Paiement sécurisé'
            data-zip-code="true">
        </script>
    </form>
{% endblock %}


