{% extends "layout.html.twig" %}
{% block title 'A Propos' %}
    {% block content %}
<div class="container-fluid">
  <div class="row">
     <div class="col-xs-12 col-md-12 col-lg-12">
        <h1>Qui sommes-nous ? </h1>
        <h2> "Il est incroyablement difficile de trouver une chemise à ses mesures qui soit de bonne qualité et à un prix abordable ! "</h2>
        <p> Custom-shirt est né de ce constat de son fondateur, grand amateur de chemises, et qui avait le plus grand mal à trouver son bonheur dans le commerce.
            Pour y répondre, nous avions d'un coté le prêt à porter, avec des tailles différentes d’une marque à l’autre et des prix plus souvent liés à l’image de marque qu’à des critères objectifs comme la qualité du tissu… De l'autre, de grands chemisiers
            pratiquant le sur-mesure de façon artisanale, mais hors de portée du commun des mortels.
            Cotton Society a donc vu le jour avec le double objectif de proposer une confection « aux mesures » et des tissus de qualité
            à des prix attractifs. Nous avons également souhaité créer une communauté autour de ces valeurs.
            L'équipe Custom-shirt.
            Quelques exemples où nous avons portés nos efforts:

            - Tissu en double retors à partir de 53€

            - Coutures à 7 points au cm pour garantir une excellente finition

            - Boutons cousus en point de croix afin d'augmenter leur durée de vie... </p>
     </div>
  </div>
</div>
    {% endblock %}