{% extends "layout.html.twig" %}
{% block title 'CGV' %}
    {% block content %}
<div class="container-fluid">
  <div class="row">
     <div class="col-xs-12 col-md-12 col-lg-12">
        <h1>Conditions générales de vente:</h1>
        <h2>Article 1 : Généralités</h2>

        L’offre et la vente de produits sur notre site internet ("www.custom-shirt.com") sont régies par ces Conditions Générales de Vente. Les produits achetés sur www.custom-shirt.com sont vendus directement par la société CUSTOM-SHIRT SAS. CUSTOM-SHIRT SAS est une société française inscrite au registre de Commerce de PARIS RCS 2123123123123 dont le siège social est à l’adresse suivante : 84, boulevard rochechouard 75014 PARIS.

        Les présentes conditions définissent les droits et obligations des parties dans le cadre de la vente des produits proposés par CUSTOM-SHIRT SAS sur son site www.custom-shirt.com.
        Par client, nous entendons l’utilisateur de la boutique en ligne custom-shirt.com, achetant un produit par l’intermédiaire du site.

        <h2>Article 2 : Commande</h2>

        Toute commande implique l’adhésion aux conditions générales de vente. Une commande est enregistrée à la réception du paiement.
        Pour le paiement du prix des produits et des frais liés à l’expédition vous pourrez suivre une des modalités indiquées dans notre formulaire de commande.
        En cas de paiement au moyen de carte de crédit/débit, les informations financières (par exemple, le numéro de la carte de crédit/débit ou la date d’échéance) seront transférées, au moyen d’un protocole cryptographié, à Paypal ou à d’autres banques qui fournissent les services liés au paiement électronique à distance, sans que des tiers ne puissent, en aucun cas, y avoir accès. De telles informations, de plus, ne seront jamais utilisées par Cotton Society sinon pour compléter les procédures liées à votre achat ou pour émettre les remboursements relatifs en cas d’éventuelles restitutions des produits, suivant le droit de rétractation ou au cas où il est nécessaire de prévenir ou de signaler aux forces de police la survenance de fraudes sur www.custom-shirt.com.
        Le prix pour l’achat des produits et les frais d’expédition, comme indiqués sur le formulaire de commande, seront débités sur votre compte courant après validation de votre commande.

        <h2>Article 3 : Disponibilité des produits</h2>

        Les produits présentés sur le site cottonsociety.com sont disponibles en stock.

        Au cas où, indépendamment de notre volonté, un article indisponible venait à être commandé, un avis d’indisponibilité sera envoyé au client par email.

        Cotton Society s'efforce de tenir à jour le site en fonction des stocks de tissus. Néanmoins, des ruptures de stock sont possibles. Dans ce cas, Custom Shirt s'engage à proposer un tissu de qualité équivalente ou supérieure.

        A défaut de disponibilité du tissu après confirmation de la commande, Cotton Society en informera par mail ou par courrier le Client dans les meilleurs délais. Le Client ne pourra obtenir aucune compensation ni aucun dédommagement autre que le simple remboursement ou remplacement du produit si celui-ci a été effectivement payé.

        En cas de remboursement, celui-ci s'effectuera au choix de Custom Shirt par crédit sur le compte bancaire du client au plus tard dans les trente jours à compter du paiement des sommes versées par le Client.

        <h2>Article 4: Prix</h2>

        Les prix mentionnés sur cottonsociety.com sont valables au moment de leur consultation par le client.
        Les prix facturés sont ceux en vigueur au moment de la commande. Les frais de livraison sont à la charge du client. Des droits de douane ou autres taxes sont susceptibles d’être exigibles à l’exportation. Ces sommes sont à la charge du client et relèvent de son entière responsabilité tant en terme de déclarations que de paiement aux autorités compétentes.

        <h2>Article 5 : Livraison</h2>

        La livraison du colis est effectuée à l’adresse indiquée par le client au moment de sa commande.
        Les expéditions sont effectuées uniquement les jours ouvrés. Les délais de livraison sont en règle générale de 15 jours ouvrés en France Métropolitaine, à compter de l'enregistrement de la commande, sauf cas de force majeure. En cas d’absence lors de la livraison, les services de livraison laisseront un avis de passage indiquant le lieu où retirer le colis. Si le colis n’est pas retiré dans les délais indiqués par les services de livraison, les frais de livraison seront facturés au client.

        Custom Shirt met tout en oeuvre pour respecter les délais de livraison des produits que vous nous avez commandés.

        <h2>Article 6 : Droit de rétractation</h2>

        Pour tous nos produits fabriqués sur mesure ou personnalisés, le droit de rétractation ne peut s'appliquer, conformément aux dispositions de l’article L 121-20 du Code de la Consommation tel que modifié par l’ordonnance n°2001-741 du 23 août 2001 qui stipule que le délai de rétractation est de 14 (quatorze) jours, et la rétractation est notamment exclue (article 121-20.2 3ème alinéa) pour les contrats de fournitures de biens nettement personnalisés ou confectionnés selon les spécifications du consommateur, soit notamment pour les articles sur-mesure, de mesure hors standard ou personnalisés. Ainsi aucun délai de rétractation ne sera accordé s’agissant des articles sur-mesure ou personnalisés (tailles spécifiques), de tous les articles hors standard et des articles comportant des ajouts ou des modifications spécifiques (chemises sur mesure etc.).

        Pour tout autre produit proposé sur notre site et ne donnant pas lieu à des spécifications propre au client, ce dernier dispose d'un délai de quatroze (14)  jours francs à compter de la réception de la commande pour résilier le contrat de vente des produits conclu lors de la validation de la commande (article 2). Dans l'hypothèse où les produits auraient déjà été livrés au Client, celui-ci devra les restituer à Cotton Society, sans avoir à justifier de motifs ni à payer de pénalités.

        <h2>Article 7 : Garantie / Responsabilité</h2>

        Les produits sont conformes à la législation française. La responsabilité de Custom Shirt ne pourra être engagée en cas de rupture de stock de tissu, de retard de livraison, de grève (y compris dans les transports) ou de force majeure et, plus généralement, pour tout événement ne lui étant pas exclusivement et directement imputable. Les photographies illustrant les produits sur le site Custom-Shirt ne sont pas contractuelles.

        Le Client accède, utilise et navigue sur le site de Cotton Society à ses risques et périls.

        La société Custom Shirt n'a, pour toutes les étapes d'accès au site, qu'une obligation de moyen. La responsabilité de Cotton Society ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet, notamment une rupture du service, une intrusion extérieure, la présence de virus informatiques, ou de tout fait qualifié de force majeure, conformément à la jurisprudence.

        le Client reconnaît et accepte que, dans toute la mesure admise par la réglementation applicable, Custom Shirt ne pourra être tenu pour responsable des dommages directs, indirects, fortuits, ou de la réparation d'un préjudice moral, de coûts, de pertes, de la diminution de chiffre d'affaires ou des bénéfices, ou des passifs de quelque nature que ce soit (même si la réalisation d'un tel préjudice était connue ou aurait pu être prévue par Cotton Society) pouvant survenir de l'utilisation ou au contraire de l'impossibilité d'utiliser le site ou son contenu.

        <h2> Article 8 : Remboursement</h2>

        Le remboursement de produit dans le cadre des hypothèses visées à l'article 6 sera effectué dans un délai inférieur ou égal à 30 jours après la réception des produits par Custom Shirt.

        <h2>Article 9 : Données personnelles</h2>

        Custom Shirts'engage à protéger les données personnelles communiquées par le Client. Toutes les données personnelles concernant le Client collectées par Custom Shirt sont traitées avec la plus stricte confidentialité, et font l’objet d’une déclaration à la Commission Nationale Informatique et Liberté (CNIL) conformément aux dispositions de la loi Informatique et Liberté de 1978.

        <h2>Article 10 : Propriété intellectuelle</h2>

        Tous les éléments se trouvant sur le site custom-shirt.com, marques, dessins, photographies, logos, … sont la propriété de CUSTOM-SHIRT SAS.
        Toute reproduction est formellement interdite, conformément aux lois régissant la propriété intellectuelle.
        <h2>Article 11 : Loi applicable</h2>

        Les Conditions Générales de Vente et le contrat sont régis par la loi française. En cas de litige, les tribunaux français et européens sont compétents.
        </div>
    </div>
</div>


    {% endblock %}